* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.menubar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 0 -50px 0;
    padding: 50px;
    background-color: #F9DFE4;
}
.menubar h3{
    color: #212529;
    cursor: pointer;
}

.menubar ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;

}

.menubar li{
    list-style: none;

}

.menubar a{
    text-decoration: none;
    color: #212529;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.menubar a:hover{
    color: #B5266B;
}

.search-btn{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-btn:hover{
    background-color: #bbd0ff;
}

header {
    /* background-color: rgba(229, 84, 115, 0.10);
    height: 850px; */
}

.head-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9DFE4;
    height: 850px;
}

/* .head-section-left{
    text-align: center;
} */

.first-caption{
    font-size: 80px;
    color: #212529;
    width: 750px;
    margin-bottom: 20px;
}

.first-description{
    width:650px;
    margin-bottom: 20px;
    color: #6c757d;
}

.btn-primary{
    background-color: #B5266B;
    padding: 12px 35px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color:#212529;
}

.head-section-right img{
    height: 800px;
    width: 600px;
    margin-top: 54px;
}

/* end of header section */

/* start of featured section */
.featured-items{
    width: 80%;
    margin: 150px auto;
}

.featured-header{
    text-align: center;
    margin-bottom: 30px;
}

.featured-head-tag{
    color: #212529;
    font-size: 40px;
}

.featured-paragraph{
    color: #6c757d;
    margin: 10px auto;
    width: 550px;
}

.featured-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-box img{
    width: 300px;
    height: 400px;
    background-color: #c8b6ff;
    border-top-left-radius: 285px;
    border-top-right-radius: 285px;
    padding: 90px 30px 0 30px;
}

.second img{
    background-color: #bbd0ff;
    
}

.third img{
    background-color: #d8e2dc;
}

figcaption{
    text-align: center;
    color: #212529;
    font-weight: bold;
    text-decoration: underline;
    /* border-bottom: 2px solid #212529;
    border-width: 50%; */
}
/* end of featured section */

/* start of service category */

.service-category{
    background-color: #c8b6ff;
    max-width: 1130px;
    margin: 50px auto 100px auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 5px;
}

.category{
    text-align: center;
    color: #212529;
    font-size: 18px;
}

.category img{
    width: 70px;
    height: 70px;
}

/* end of service category */

/* start of hot deal section */

.hot-deal{
    background-color: #c8b6ff;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.higlighter{
    color: #B5266B;
}

.offer-section-left{
    text-align: center;
}

.hot-offer-caption{
    color: #212529;
    margin-top: 50px;
    margin-bottom: 15px;
}

.offer-section-left p{
    color: #6c757d;
    margin-bottom: 20px;
}

.offer-section-right img{
    width: 300px;
    height: 370px;
}
/* end of hot deal section */

/* start of instagram section */

.instagram-post{
    max-width: 1130px;
    margin: 80px auto;
}

.insta-header{
    text-align: center;
    margin-bottom: 50px;
}

.insta-title{
    margin-bottom: 20px;
    color: #212529;
}

.insta-desc{
    color: #6c757d;
    width: 700px;
    margin: 0 auto;
}
.insta-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.insta-images img{
    height: 350px;
    width: 270px;
    border-radius: 5px;
}

/* end of instagram section */


.subscription-section{
    background-image: url('Asset/Rectangle\ 9.png');
    max-width: 1138px;
    margin: 50px auto;
    background-repeat: no-repeat;
    height: 350px;
    text-align: center;
    border-radius: 5px;
    /* display: flex;
    justify-content: center; */
}

.subscribe-title{
    font-size: 40px;
    color: #212529;
    padding: 100px 0 5px 0;
}

.subscribe-desc{
    color: #6c757d;
    margin-bottom: 30px;
}

.email-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.email-section input{
    background-color: white;
    padding: 15px 35px;
    border: none;
    width: 400px;
    /* color: white; */
    border-radius: 8px;
    /* font-size: 18px; */
}

footer{
    background-color: #bbd0ff;
    height: 350px;
    text-align: center;
    padding: 150px 0 60px 0;
}

.footer-caption{
    font-size: 80px;
    color: white;

}

.footer-desc{
    color: #6c757d;
    margin: 0 auto 60px auto;
    width: 600px;
}